
<mat-card class="sm-centered-card" [@cardState] *ngIf="pageState == 'activated'"> 
	<mat-card-title>
	  <span>Ready</span>
	</mat-card-title>

	<mat-card-content class="row">
			<div class="col-xs-12 spacious">
				Your account is now active. Redirecting you to the login page ...
			</div>
	</mat-card-content>
</mat-card>


<mat-card class="sm-centered-card" [@cardState] *ngIf="pageState == 'failed'"> 
	<mat-card-title>
	  <span>Hmmm...</span>
	</mat-card-title>

	<mat-card-content class="row">
			<div class="col-xs-12 spacious">
				We could not activate your account.
			</div>
	</mat-card-content>
</mat-card>


<mat-card class="sm-centered-card" [@cardState] *ngIf="pageState == 'already'"> 
	<mat-card-title>
	  <span>Hmmm...</span>
	</mat-card-title>

	<mat-card-content class="row">
			<div class="col-xs-12 spacious">
				Your account is already active. Redirectring you to the login page ...
			</div>
	</mat-card-content>
</mat-card>
