

<mat-card class="register-form-block"> 
	<form class="register-form" 
		[formGroup]="form" (ngSubmit)="register(form)" >

		<mat-card-title>
		  <span>Sign Up</span>
		</mat-card-title>

		<mat-card-content class="row">
				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Email address" name="email" formControlName="email">
					<mat-error *ngIf="form.controls.email.hasError('pattern')">
				      Please enter a valid email address
				    </mat-error>
				    <mat-error *ngIf="form.controls.email.hasError('required')">
				      Email is <strong>required</strong>
				    </mat-error>
				</mat-form-field>

				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Password" required
						name="password" type="password">
				</mat-form-field>
				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Confirm password" required
						name="confirm_password" type="password">
				</mat-form-field>
			<div class="clearfix"></div>
		</mat-card-content>
		<mat-card-actions class="row">
			<div class="col-sm-6 text-left">
				<span><a routerLink="/signin" routerLinkActive="active">I'm already a member</a></span>
			</div>
			<div class="col-sm-6 text-right">
				<button mat-button type="submit" [disabled]="!form.valid">Get started</button>
			</div>
		</mat-card-actions>

	</form>

</mat-card>

