.register-form-block {
	margin: 18px auto;
	width: 500px;
	max-width: 100%;
}

@media screen and (max-width: 600px) {
	.register-form-block {
		margin-left: 18px;
		margin-right: 18px;
		width: auto;
		max-width: auto;
		flex: 1;
	}
}