

<mat-card class="register-form-block"> 
	<form class="register-form" #form="ngForm" (ngSubmit)="register(form)" >

		<mat-card-title>
		  <span>Sign Up</span>
		</mat-card-title>

		<mat-card-content class="row">
				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Email address" 
						name="email" 
						[(ngModel)]="model.email" [formControl]="formControls.email" 
						required uniqueEmail>

					<mat-error *ngIf="formControls.email.hasError('pattern')">
				      Please enter a valid email address
				    </mat-error>
				    <mat-error *ngIf="formControls.email.hasError('required')">
				      Please enter a valid email address
				    </mat-error>
				    <mat-error *ngIf="formControls.email.hasError('unique')">
				     This email address is already registered
				    </mat-error>
				    
				</mat-form-field>

				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Password"
						name="password" type="password"
						required>
				</mat-form-field>
				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Confirm password"
						name="confirm_password" type="password"
						required>
				</mat-form-field>
			<div class="clearfix"></div>
		</mat-card-content>
		<mat-card-actions class="row">
			<div class="col-sm-6 text-left">
				<span><a routerLink="/signin" routerLinkActive="active">I'm already a member</a></span>
			</div>
			<div class="col-sm-6 text-right">
				<button mat-button type="submit" [disabled]="!form.valid">Get started</button>
			</div>
		</mat-card-actions>

	</form>

</mat-card>

