
<!-- Display login form if not logged in -->
<mat-card class="sm-centered-card" [@slideIn] *ngIf="formState == 'pending' && ! currentUser" > 
	<form class="login-form" (ngSubmit)="submit(form)" [formGroup]="form">

		<mat-card-title>
		  <span>Sign in</span>
		</mat-card-title>

		<mat-card-content class="row">
				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Email address" 
						name="email" formControlName="email"
						[(ngModel)]="model.email" 
						required >
				</mat-form-field>

				<mat-form-field class="col-xs-12 spacious">
					<input matInput placeholder="Password"
						name="password" type="password" formControlName="password"
						[type]="showPassword ? 'text' : 'password'"
						[(ngModel)]="model.password" 
						required>
					<mat-icon class="toggle-display-password" (click)="showPassword=!showPassword">
						{{showPassword ? 'visibility_off' : 'visibility'}}
					</mat-icon>						
				</mat-form-field>

			<div class="clearfix"></div>
		</mat-card-content>
		<mat-card-actions class="row">
			<div class="col-sm-6 text-left">
				<ul class="plain-list">
					<li><a routerLink="/register" routerLinkActive="active">Create an account</a></li>
					<li><a routerLink="/reset-password" routerLinkActive="active">I forgot my password</a></li>
				</ul>
			</div>
			<div class="col-sm-6 text-right">
				<button mat-button type="submit" [disabled]="loading || !form.valid">Go</button>
			</div>
		</mat-card-actions>
	</form>
	<mat-progress-bar mode="indeterminate" class="valign-bottom" *ngIf="loading"></mat-progress-bar>

</mat-card>

<!-- Display a message on login successful -->
<mat-card class="sm-centered-card" [@slideIn] *ngIf="formState == 'complete'"> 
		<mat-card-title>
		  <span>Welcome Back!</span>
		</mat-card-title>

		<mat-card-content class="row">
				<div class="col-xs-12 spacious">
					You are now logged in.
				</div>
		</mat-card-content>
</mat-card>


<!-- Display a message if the user is already logged in -->
<mat-card class="sm-centered-card" [@slideIn] *ngIf="formState == 'pending' && currentUser"> 
		<mat-card-title>
		  <span>Welcome Back!</span>
		</mat-card-title>

		<mat-card-content class="row">
				<div class="col-xs-12 spacious">
					You are currently logged in as {{currentUser.email}}.
				</div>
		</mat-card-content>
	<mat-card-actions class="row">
		<div class="col-sm-12 text-center">
			<button mat-button>
				<a routerLink="/logout" routerLinkActive="active">Sign out</a>
			</button>
		</div>
	</mat-card-actions>
</mat-card>

