


<mat-card class="sm-centered-card" [@slideIn] [@shrinkOut] > 
	<mat-card-content>
		<div class="text-center">
			<img src="../../assets/logo.jpg">
			<h1>Django-Angular-Material-Webpack-Starter</h1>
		</div>
	</mat-card-content>
	<mat-card-actions class="row">
		<div class="col-sm-6 text-center">
			<button mat-button>
				<a routerLink="/login" routerLinkActive="active">Create an account</a>
			</button>
		</div>
		<div class="col-sm-6 text-center">
			<button mat-button>
				<a routerLink="/register" routerLinkActive="active">Sign in</a>
			</button>
		</div>
	</mat-card-actions>
</mat-card>

